#main{
    margin: auto;
    width: 340px;
    height: 500px;
    padding: 10px;
    background-color: antiquewhite;
    background-color: #c7c2ba;
    border-radius: 25px;
    border-style: groove;
    border-width: 5px;
}
.numberButton{
    width: 70px;
    height: 60px;
    background-color: chartreuse;
    border-radius: 10px;
    border-style: outset;
    border-width: 4px;
    background-color: #8d7f7b;
    border-color: #655353 ;
    font-size: 26px;
    color: beige;
    font-weight: bolder;
}
.numberButton:active {
    border-style: inset; 
    background-color: #887975;
}

.operationButton{
    width: 70px;
    height: 60px;
    border-radius: 10px;
    border-style: outset;
    border-width: 4px;
    font-size: 26px;
    color: #505045;
    font-weight: bolder;
    background-color: #cbc2c2;
    border-color: #b5a7a7 ;
}
.operationButton:active {
    border-style: inset; 
    background-color: #b2a8a8;
}

#clearButton{
    width: 70px;
    height: 60px;
    border-radius: 10px;
    border-style: outset;
    border-width: 4px;
    background-color: #dd4747;
    border-color: #cc5959 ;
    font-size: 26px;
    color: azure;
    font-weight: bolder;
}

#clearButton:active {
    background-color: #ce3b3b;
    border-style: inset; 
}


#buttonEqual{
    width: 70px;
    height: 122px;
    border-radius: 10px;
    border-style: outset;
    border-width: 4px;
    background-color: #77b0e8;
    border-color: #619ad3 ;
    font-size: 26px;
    color: azure;
    font-weight: bolder;
}
#buttonEqual:active {
    background-color: #5f9edd;
    border-style: inset; 
}

#buttonZero{
    width: 140px;
    height: 60px;
    border-radius: 10px;
    border-style: outset;
    border-width: 4px;
    background-color: #8d7f7b;
    border-color: #574747 ;
    font-size: 26px;
    color: beige;
    font-weight: bolder;
}
#buttonZero:active {
    border-style: inset; 
    background-color: #887975;;
}

#main #top{
    margin:auto;
    width: 300px;
    height: 80px;
    padding: 9px;
    background-color: #605c56;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-style: groove;
    border-width: 4px;
}



#main #buttons{
    background-color: #d5d6d6;
    width: 300px;
    padding: 10px;
    margin: auto;
    border-style: groove;
    border-width: 4px;
    border-radius: 7px;
}

.dis{
    margin: auto;
    width: 295px;
    height: 35px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #f5f5a8;
    font-size: 26px;
    font-weight: bold;
    text-align: right;
}
.dis2{
    margin: auto;
    width: 295px;
    height: 35px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #f5f5a8;
    font-size: 18px;
    text-align: right;
}

#main #pasek{
    margin: auto;
    width: 320px;
    height: 30px;
    border-style: groove;
    
}